*{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
body{
    background-color: lightblue;
}
.App {
  text-align: center;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 2px 4px 10px black;
}
button:hover:active{
    background-color: deepskyblue;
}
canvas {
  border:none;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
  box-shadow: 2px 4px 10px black;
  background-color: white;
}

p {
  font-size: 24px;
}
.pulse-dot{
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation: pulse 1.2s infinite;
  z-index: 2;
}
@keyframes pulse{
  0%{
    transform: translate(-50%,-50%) scale(0.9);
    opacity: 1;
  }
  100%{
    transform: translate(-50%,-50%) scale(1.6);
    opacity: 0;
  }
}